.container-filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    max-width: 250px;
    color: #555;
    background-color: #f2f2f2;
    height: 100%;
}

@media (max-width: 600px) {
    .container-filters {
        width: 100%; /* occupy the full screen width on small screens */
    }
}

.filter-by-type {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-by-type span {
    font-weight: 700;
    font-size: 22px;
}

.group-type {
    display: flex;
    gap: 10px;
    margin-left: 15px;
}

.group-type label {
    cursor: pointer;
}

.closeButton {
    background: none;
    border: none;
    cursor: pointer; /* change cursor to pointer when hovering over the button */
    align-self: flex-start; /* align the button to the start of the cross axis */
    margin-left: auto; /* push the button to the right */
}