header {
    padding: 40px;
}

.logo img {
    display: flex;
    justify-content: flex-start;
    width: 150px;
}

header form {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.form-group {
    border: 1px solid #555;
    padding: 15px 20px;
    border-radius: 25px;
    margin-bottom: 0;
}

.form-group input {
    font-family: inherit;
    width: 250px;
    border: none;
    outline: none;
    font-size: medium;
}

.icon-search {
    width: 20px;
    height: 20px;
    stroke: #555;
}

.btn-search {
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 30px;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: var(--color-primary);
    color: #fff;
}

.btn-search:hover {
    background-color: var(--color-primary-hover);
    color: #000;
}