.container-button-load-more {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.button-load-more {
	border: none;
	border-radius: 25px;
    padding: 15px 30px;
	letter-spacing: 2px;
	font-family: inherit;
	background-color: var(--color-primary);
	color: #f2f2f2;
	cursor: pointer;
}

.button-load-more:hover {
	background-color: var(--color-primary-hover);
	color: #000000;
}