.button-next-previous {
    display: flex;
    justify-content: space-between;
}

.button-next-previous button {
	border: none;
	border-radius: 25px;
    padding: 15px 30px;
	letter-spacing: 2px;
	font-family: inherit;
	background-color: var(--color-primary);
	color: #f2f2f2;
	cursor: pointer;
}

.button-next-previous button:hover {
	background-color: var(--color-primary-hover);
	color: #000000;
}

.button-next-previous button:disabled {
	background-color: var(--color-primary-hover);
	color: #000000;
}

.pokemon-number {
    font-size: 20vw;
    font-size: clamp(24px, 20vw, 180px); /* New line: font size will be at least 24px and at most 180px */
    font-weight: 700;
    color: var(--color-primary);
    opacity: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pokemon-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.pokemon-img img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.pokemon-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 70px;
}

.pokemon-page-name {
    text-align: right;
    font-size: 40px;
}

.pokemon-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.group-info p {
    font-size: large;
    font-weight: 700;
}

.group-info span {
    display: flex;
    justify-content: center;
    font-size: large;
}

/*FOR MOBILE SCREENS*/
@media (max-width: 767px) {
    .pokemon-img,
    .pokemon-description {
        display: flex;
        justify-content: space-evenly;
    }

    .pokemon-page-name {
        text-align: right;
        margin-right: 9px;
        font-size: 40px;
    }
}