.container-stats{
    display: flex;
    gap: 50px;
    align-items: center;
}

.stats{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.stat-group{
    display: flex;
    align-items: center;
    gap: 20px;
}

.stat-group span{
    flex: 20%;
    font-weight: 500;
    font-size: 18px;
}

.progress-bar{
    width: 100%;
    height: 30px;
    background-color: var(--color-primary);
    border-radius: 10px;
}