.pokemon-number {
    font-size: 180px;
    font-weight: 700;
    color: var(--color-primary);
    opacity: 70%;
    position: absolute;
    z-index: -1;
    line-height: 1;
    margin-top: 20px;
    left: 50%; /*This is to center the number*/
    transform: translate(-50%); /*This to correct the centering*/
}

.pokemon-img {
    padding: 15px;
}

.pokemon-img img {
    width: 75%;
}

.pokemon-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 70px;
}

.pokemon-page-name {
    text-align: right;
    font-size: 40px;
}

.pokemon-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.group-info p {
    font-size: large;
    font-weight: 700;
}

.group-info span {
    display: flex;
    justify-content: center;
    font-size: large;
}

/*FOR MOBILE SCREENS*/
@media (max-width: 767px) {

    .pokemon-number {
        top: 45%;
        transform: translate(-50%, -45%);
        font-size: 120px;
        font-weight: 700;
    }
    
    .pokemon-img,
    .pokemon-description {
        display: flex;
        justify-content: space-evenly;
    }

    .pokemon-page-name {
        text-align: right;
        margin-right: 9px;
        font-size: 40px;
    }
}